body { background: #c3642b; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 45px; display: flex; }
.block-validator-0 { color: #1ce8ba; font-size: 17px; margin-bottom: 5px; }
.block-search-1 { color: #43572c; font-size: 15px; margin-bottom: 5px; }
.block-logger-2 { color: #267e84; font-size: 15px; margin-bottom: 5px; }
.block-search-3 { color: #3b97db; font-size: 20px; margin-bottom: 5px; }
.block-search-4 { color: #795024; font-size: 14px; margin-bottom: 5px; }